@import '../index.scss';

.app__header {
  padding: 24px 0 36px 0;

  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
  .header__switch-theme {
    cursor: pointer;
    border: none;
    padding: 6px;
    border-radius: 100px;
    background-color: rgb(196 181 253);
    position: fixed;
    left: 5%;
  }
  .header__tabs {
    display: flex;
  }

  .header__tab {
    position: relative;
    list-style: none;
    margin: 0 8px;
    padding-bottom: 2px;
    cursor: pointer;
    color: $mainColor;
    transition: all .25s; 

    &:hover {
      color: #aa6804;
    }
    &::after {
      position: absolute;
      content: '';
      left: 0%;
      width: 100%;
      height: 1px;
      bottom: 0;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in; 
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}