@import '../index.scss';

.about__container {
  text-align: center;
  margin: 0 auto 60px auto;
  width: 40%;
}

.about__top {
display: flex;
font-weight: 700;
}
.about__small-title {
  margin-bottom: -12px;
  margin-left: 5%;
  text-align: left;
}
.about__main-title {
    font-size: 44px;
    span {
      color: $mainColor;
    }
}

.about__badges {
  display: flex;
  .about__badge {
    background-color: #fff;
    margin-right: 6px;
    border: solid 1px $mainColor;
    padding: 5px 8px 4px 8px;
    border-radius: 4px;
  }
}

.about__picture {
  border-radius: 20px;
  max-width: 250px;
  height: 100%;
  width: 100%;
  margin-right: 12px;
}

.contact__icons {
  margin-top: 4px;
  display: flex;
  img {
    max-width: 32px;
    max-height: 32px;
  }
}