@import '../index.scss';

.about__container {
  text-align: center;
  margin: 0 auto 60px auto;
  width: 40%;
}

.about__top {
display: flex;
font-weight: 700;

.about__p1 {
//  animation: fadeP1 1s;
}

.about__p2 {
  // animation: fadeP2 2s;
 }


}
.about__small-title {
  margin-bottom: -12px;
  margin-left: 5%;
  text-align: left;
}
.about__main-title {
    font-size: 44px;
    margin: -0.8rem 0;

    p, span {
      display: inline-block;
    }

    .about__colored-letter {
      color: $mainColor;
    }
}

.about__badges {
  display: flex;
  .about__badge {
    background-color: #fff;
    margin-right: 6px;
    border: solid 1px $mainColor;
    padding: 5px 8px 4px 8px;
    border-radius: 4px;
  }
}

.contact__icons {
  margin-top: 4px;
  display: flex;
  img {
    max-width: 32px;
    max-height: 32px;
  }
}

// Animation
@keyframes fadeP1 {
  0% {
    opacity: 0;
    // transform: translateY(-2vh);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeP2 {
  0% {
    opacity: 0;
    // transform: translateY(2vh);
  }
  100% {
    opacity: 1;
  }
}