@import '../App.scss';

.about__container {
  text-align: center;
  margin: 0 auto 60px auto;
  width: 40%;
}

.about__top {
display: flex;
font-weight: 700;
}

.about__small-title {
  margin-bottom: -12px;
  margin-left: 5%;
  text-align: left;
}
.about__main-title {
    font-size: 44px;
    margin: -0.8rem 0;

    p, span {
      display: inline-block;
    }

    .about__colored-letter {
      color: $mainColor;
    }
}

.about__badges {
  display: flex;
  .about__badge {
    background-color: #fff;
    margin-right: 6px;
    border: solid 1px $mainColor;
    padding: 5px 8px 4px 8px;
    border-radius: 4px;
    transition: all .2s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 2px 3px #ccc;
    }
  }
}

.contact__icons {
  display: flex;
  .contact__icon {
  margin: 10px 6px 0 0;
  color: #333;
  border-radius: 4px;
  }
}

.about__dark-theme {
 p {
    color: #fff;
  }
  .about__p1, .about__p2 {
    color: $darkThemeText;
  }
  .about__badge {
    background-color: $darkThemeBackground;
    color: #fff;
    &:hover {
      box-shadow: 0 2px 3px #222;
    }
  }
  .contact__icon {
    color: $darkThemeText;
    }
}