@import './index.scss';


.app {
  
  // width: 80%;
  // overflow: visible !important;
  // @include respond(medium) {
  //   width: 90%;
  // }
  }

  .app__light-theme {
    background-color: #fff;
    color: $mainBlack;

    }
  .app__dark-theme {
    background-color: $darkThemeBackground;
    color: #aaa;
    }