// Colors
$mainColor: #BF7506;
$mainBlack: #211B12;
$darkThemeText: #ccc;
$darkThemeBackground: #161515;

.app {
  transition: all .8s;
}

.app__light-theme {
  background-color: #fff;
  color: $mainBlack;
}
.app__dark-theme {
  background-color: $darkThemeBackground;
  color: #aaa;
}

