.footer {
  .footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .footer__icon {
    margin: 0 8px 14px 8px;
    color: #333;
  }
}
.footer__dark-theme {
  .footer__icon {
    color: #ccc;
  }
}